* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #172b4d;
  text-decoration: none;
  border: 0;
}

a {
  font-size: 30px;
  font-weight: 600;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.nav__links,
li {
  padding: 5px 0px;
  text-align: start;
}

a:hover {
  color: #36b37e;
}

.links {
  padding: 30px 0px 50px 30px;
  display: none;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.12);
  border-radius: 0 0 15px 15px;
}

#toolbartitle {
  font-family: "Open Sans", sans-serif;
  color: #172b4d;
}

#hamBtn {
  background-color: rgba(255, 255, 255, 0);
}

#hamBtnClose {
  position: relative;
  font-size: 20px;
  right: 0%;
  left: 84.36%;
  background-color: rgba(255, 255, 255, 0);
}
