* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #172b4d;
  text-decoration: none;
  border: 0;
}

a {
  font-size: 30px;
  font-weight: 600;
}

ul {
  list-style-type: none;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  width: 100%;
  z-index: 9999;
  background-color: white;
}

.links {
  position: fixed;
  display: none;
  padding: 30px 0 0 0;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.12);
  border-radius: 0 0 15px 15px;
  width: 100%;
  background-color: white;
  z-index: 9999;
}

.nav__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

li,
a {
  padding: 10px 0;
}

ul.nav__links {
  padding: 0 0 30px 0;
}

#toolbartitle {
  font-family: "Open Sans", sans-serif;
  color: #172b4d;
}

#hamBtn {
  background-color: rgba(255, 255, 255, 0);
}

#hamBtnClose {
  position: relative;
  font-size: 20px;
  right: 0%;
  left: 84.36%;
  background-color: rgba(255, 255, 255, 0);
}

#headlinetitle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #172b4d;
  padding: 20px 0 40px;
}

#subtitle {
  color: #36b37e;
}

.paragraph {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #172b4d;
  padding: 0 24px;
}

.headline {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 120px 20px 20px 20px;
}

#socialmediabtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
}

#socialmediabtns,
a {
  margin: 0 20px;
}

a:hover {
  color: #36b37e;
}

#scrolldownbtn {
  display: flex;
  justify-content: center;
}

#bgheadline {
  background-image: url(img/group.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#vector2 {
  position: absolute;
  background-image: url(img/vector2.png);
  background-size: auto;
  background-repeat: no-repeat;
  padding: 40px;
  top: 63%;
}

#vector1 {
  position: absolute;
  background-image: url(img/vector1.png);
  background-size: auto;
  background-repeat: no-repeat;
  padding: 41px 37px;
  left: 80%;
}

#vector3 {
  position: absolute;
  background-image: url(img/vector3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 80px 15px;
  left: 92%;
  top: 35%;
}

#vector4 {
  position: absolute;
  background-image: url(img/vector4.svg);
  background-size: auto;
  background-repeat: no-repeat;
  padding: 27px 25px;
  left: 84%;
  top: 78%;
}

#vector5 {
  position: absolute;
  background-image: url(img/vector5.svg);
  background-size: auto;
  background-repeat: no-repeat;
  padding: 27px 25px;
  left: 8%;
  top: 26%;
  opacity: 50%;
  z-index: 1;
}

#vector6 {
  position: absolute;
  background-image: url(img/vector6.svg);
  background-size: auto;
  background-repeat: no-repeat;
  padding: 27px 25px;
  left: 35%;
  top: 64.5%;
  opacity: 70%;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #172b4d;
}

#portfoliosection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#separator {
  background-color: #36b37e;
  height: 4px;
  width: 15%;
  border: 1px solid #36b37e;
  border-radius: 20px;
}

.card1 {
  display: flex;
  align-items: flex-end;
  background-color: #ebf0ee;
  height: 500px;
  width: 90%;
  margin: 30px 0;
  z-index: 19;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.card1-2 {
  background-color: white;
  height: 220px;
  width: 100%;
  z-index: 20;
  border-radius: 8px;
  padding: 10px;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #3a4a42;
}

.tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-tag {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #3a4a42;
  background-color: #ebf0ee;
  padding: 8px 12px;
  border-radius: 4px;
  margin: 5px;
}

.card-btn {
  background-color: #36b37f;
  border-radius: 4px;
  margin: 20px 0;
  padding: 10px;
}

.card-btn a {
  color: white;
  font-weight: 400;
  font-size: 18px;
}

#aboutmesection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p.paragraph {
  padding: 20px;
}

#lenguages,
#frameworks,
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebf0ee;
  height: 350px;
  width: 90%;
  margin: 30px 0;
  z-index: 19;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.bgcircle {
  display: flex;
  background-color: white;
  padding: 20px;
  margin: 40px 0;
  border-radius: 100%;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.title_secondary {
  font-family: "Poppins", sans-serif;
  color: #344563;
  font-weight: 600;
  font-size: 24px;
}

.card2 h3 {
  margin-bottom: 20px;
}

.aboutme-tag {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #36b37e;
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  margin: 5px;
}

.lenguages,
.frameworks,
.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
