* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #172b4d;
  text-decoration: none;
  border: 0;
}

a {
  font-size: 30px;
  font-weight: 600;
}

ul {
  list-style-type: none;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  width: 100%;
  z-index: 9999;
  background-color: white;
}

.links {
  position: fixed;
  display: none;
  padding: 30px 0 0 0;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.12);
  border-radius: 0 0 15px 15px;
  width: 100%;
  background-color: white;
  z-index: 9999;
}

.nav__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

li,
a {
  padding: 10px 0;
}

ul.nav__links {
  padding: 0 0 30px 0;
}

#toolbartitle {
  font-family: "Open Sans", sans-serif;
  color: #172b4d;
}

#hamBtn {
  background-color: rgba(255, 255, 255, 0);
}

#hamBtnClose {
  position: relative;
  font-size: 20px;
  right: 0%;
  left: 84.36%;
  background-color: rgba(255, 255, 255, 0);
}

#headlinetitle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #172b4d;
  padding: 20px 0 40px;
}

#subtitle {
  color: #36b37e;
}

.paragraph {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #172b4d;
}

.centered {
  margin: 0 600px;
}

.headline {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 120px 20px 20px 20px;
}

#socialmediabtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
}

#socialmediabtns,
a {
  margin: 0 20px;
}

a:hover {
  color: #36b37e;
}

#scrolldownbtn {
  display: flex;
  justify-content: center;
}

#bgheadline {
  background-image: url(img/group.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#vector2 {
  position: absolute;
  background-image: url(img/vector2.png);
  background-size: auto;
  background-repeat: no-repeat;
  padding: 40px;
  top: 63%;
}

#vector1 {
  position: absolute;
  background-image: url(img/vector1.png);
  background-size: auto;
  background-repeat: no-repeat;
  padding: 41px 37px;
  left: 80%;
}

#vector3 {
  position: absolute;
  background-image: url(img/vector3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 80px 15px;
  left: 92%;
  top: 35%;
}

#vector4 {
  position: absolute;
  background-image: url(img/vector4.svg);
  background-size: auto;
  background-repeat: no-repeat;
  padding: 27px 25px;
  left: 84%;
  top: 78%;
}

#vector5 {
  position: absolute;
  background-image: url(img/vector5.svg);
  background-size: auto;
  background-repeat: no-repeat;
  padding: 27px 25px;
  left: 8%;
  top: 26%;
  opacity: 50%;
  z-index: 1;
}

#vector6 {
  position: absolute;
  background-image: url(img/vector6.svg);
  background-size: auto;
  background-repeat: no-repeat;
  padding: 27px 25px;
  left: 35%;
  top: 68%;
  opacity: 70%;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #172b4d;
}

#portfoliosection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#aboutmesection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#separator {
  background-color: #36b37e;
  height: 4px;
  width: 15%;
  border: 1px solid #36b37e;
  border-radius: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 475px);
  gap: 30px;
  margin: 60px 16px;
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 350px;
  gap: 30px;
  margin: 60px 16px;
}

.mb-3 {
  margin-bottom: 30px;
}

.project-card {
  display: flex;
  align-items: flex-end;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.card-text-area {
  background-color: white;
  height: 222px;
  width: 100%;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
}

.card-text-area-am {
  height: 222px;
  width: 100%;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #3a4a42;
  margin-top: 16px;
}

.tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-tag {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #3a4a42;
  background-color: #ebf0ee;
  padding: 8px 12px;
  border-radius: 4px;
  margin: 5px;
}

.card-tag2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #36b37e;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  margin: 5px;
}

.card-btn {
  background-color: #36b37f;
  border-radius: 4px;
  margin: 20px 0;
  padding: 10px;
  transition: all 0.4s ease-in-out;
}

.btnsubmit {
  color: white;
  width: 130px;
}

.card-btn:hover {
  background-color: #1bd185;
}

.card-btn:focus,
.card-btn:active {
  background-color: #008552;
}

.card-btn p {
  color: white;
  margin: 0 20px;
}

.card-btn a {
  color: white;
  font-weight: 400;
  font-size: 18px;
}

p.paragraph {
  padding: 20px;
}

#lenguages,
#frameworks,
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bgcircle {
  display: inline-flex;
  background-color: white;
  padding: 20px;
  margin: 40px 0;
  border-radius: 100%;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.title_secondary {
  font-family: "Poppins", sans-serif;
  color: #344563;
  font-weight: 600;
  font-size: 24px;
}

.aboutme-tag {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #36b37e;
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  margin: 5px;
}

.li-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.lenguages,
.frameworks,
.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.aboutme-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 60px 16px;
}

.aboutme-card {
  display: flex;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

#illustration1 {
  display: none;
}

#illustration2 {
  display: none;
}

#contact {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: row;
}

#contact h3 {
  width: 50%;
  margin: 65px 0 0 20px;
  padding: 0 135px;
  font-size: 30px;
  line-height: 52px;
  text-align: justify;
}

#contact form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 130px 0 24px;
}

.fullname {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#name {
  margin: 0 10px 12px 0;
}

form input {
  margin: 0 0 12px 0;
  padding: 15px;
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
}

.fullname input {
  width: 50%;
}

form textarea {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  padding: 15px;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
}

#illustration_contact {
  display: none;
}

footer .linktomail {
  display: none;
}

footer hr {
  margin-top: 100px;
  height: 1px;
  background-color: #dfe1e6;
  border: 0;
}

footer #socialmediabtns {
  padding-top: 0;
  opacity: 70%;
}

@media screen and (max-width: 800px) {
  .wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 475px);
  }

  .wrapper2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 350px);
  }

  .aboutme-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 475px);
    margin: 60px 16px;
  }

  .centered {
    margin: 0;
  }

  #illustration1 {
    display: flex;
    position: absolute;
    right: 0;
    left: 81.8%;
    top: 480%;
  }

  #illustration2 {
    display: flex;
    position: absolute;
    left: -10px;
    top: 511.5%;
    padding: 20px 10px;
  }

  #contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #contact h3 {
    padding: 0 24px;
    width: 100%;
    text-align: center;
    font-size: 40px;
  }

  #contact .title {
    margin: 0 0 50px 0;
  }

  .contactform {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #name {
    margin: 0;
  }

  #contact form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0 24px;
  }

  form input {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
    border-radius: 4px;
    height: 48px;
    width: 100%;
  }

  .fullname input {
    width: 100%;
  }

  form textarea {
    margin: 10px 0;
    border: 1px solid #60c095;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    max-width: 100%;
  }

  #surname {
    display: none;
  }

  .linktomail {
    font-size: 18px;
    font-weight: 400;
  }

  #illustration_contact {
    display: flex;
    position: absolute;
    top: 775%;
    right: 0;
  }

  footer #socialmediabtns {
    margin-top: -40px;
    padding-top: 0;
    opacity: 100%;
  }

  footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  footer hr {
    display: none;
  }

  footer .linktomail {
    display: flex;
  }

  input:focus,
  textarea:focus {
    outline-color: #36b37e;
  }
}

p {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    opacity: 0%;
    font-size: 0%;
  }

  75% {
    opacity: 50%;
    font-size: 110%;
  }

  to {
    opacity: 100%;
    font-size: 100%;
  }
}
